body {
  margin: 8vw;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color:black;
  font: 300 16px/22px "Open Sans", Helvetica, Arial, sans-serif;
}

h1{
  color:black;
  text-align: center;
}


h2{
  font: helvetica;
  text-decoration: underline;
}

.name{
  text-align: right;
}

.top-nav {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  text-align: center;
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.center{
  text-align: center;
}

a {
  color: #648880;
  text-decoration: none;
}

.top-nav a{
  margin: 0 2vw;
}